 # Arquivos de Banco de Dados Progress
*.db
*.db[0-9]*
*.b[0-9]*
*.d[0-9]*
*.bi
*.ai
*.lg
*.lk
*.st
*.lic

# Arquivos de Cache e Temporários do Progress (Sessão Ativa)
lbi*
srt*
rcd*
*.ped
*.tmp
debug.log
.pct/

# Compilados (Opcional, mas recomendado não subir se puder recompilar)
*.r

# IDE (VS Code, etc)
.vscode/
bin/
.DS_Store

# Arquivos do Projeto Ignorados (Estudos)
01-projeto-infocena/Proposta_Modernizacao_Sistema.html
01-projeto-infocena/executaveis/
executaveis/
Proposta_Modernizacao_Sistema.html
